/*This will make the background of the page into the colour I want, and the width will auto-adjust*/
body {
    text-align: center;
    max-width: auto;
    margin: auto;
    background-color: #073763;
  }

.container {
    background-colour: #264653;
    display: flex;
    align-items: center;
    justify-content: center;
}



